<div class="container">
	<h1>{{ result.name }}'s dashboard</h1>
	<p>List of emails</p>
	{{#each result.users as |user|}}
		<div>
			<a href="/email">{{user.email}}</a>
		</div>
	{{/each}}
	<form action="/logout" method="post">
		<button class="btn btn-danger">Logout</button>
	</form>
</div>