<div class="container">
	<h1>Supercalifragilisticexpialidocious Emailer</h1>
	<button class="btn btn-primary"><a href="/login">Login</a></button>
	<button class="btn btn-success"><a href="/register">Register</a></button>
</div>